.custom-search__results {
    font-size: 12px;
    background: #ffffff;
    width: 100%;
    min-width: 300px;
    max-height: 500px;
    display: block;
    overflow: auto;
}
.custom-search__results a {
    text-decoration: none;
    color: #000000;
}
.custom-search__results__title {
    padding-bottom: 0px;
    text-transform: uppercase;
    background: #eeeeee;
    padding: 5px 5px;
    margin: 0px;
}
.custom-search__results__list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.custom-search__results__item {
    display: flex;
    padding: 5px;
}
.custom-search__results__item--image {
    border-bottom: solid 0.5px #eeeeee;
}
.custom-search__results__item:hover {
    background: #eeeeee;
}
.custom-search__results__item__wrapper {
    display: flex;
    width: 100%;
}
.custom-search__results__item__image {
    width: 20px;
    height: 20px;
}
.custom-search__results__item__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 5px;
}
.custom-search__results__item__title {
    text-transform: capitalize;
}
